<!doctype html>
<html>
  <head>
    <title>Ultra-Lightbeam Dashboard</title>
    <script src="../js/export.js"></script>
    <link href="../styles/userReport.css" rel="stylesheet">
  </head>
  <body>
    <div class="menu">
      <a id="home" href="userReport.html">Overview</a>
      <a id="profiler" href="profiler.html">Performance</a>
      <a id="settings" href="settings.html">Settings</a>  
      <a id="export" class="selected">Export Data</a>
    </div>
    <div class="body">
      <div class="head">
        <p class="detail-head">Export Data</p>
        <p class="detail-subhead">Copy your raw benchmark JSON to your clipboard <br>Just hang tight! Loading your data may take a few seconds</p>
      </div>
      <textarea id="outputArea" rows="4" cols="50"></textarea><br>
      <button id="populateJSON">Load Data</button>
      <button id="copyJSON" class="hidden">Copy to Clipboard</button>
    </div>
  </body>
</html>
