<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Site Sonar Dashboard</title>
    <script src="../js/profiler.js"></script>
    <link href="../styles/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/userReport.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li role="presentation">
          <a role="button" aria-haspopup="true" aria-expanded="false" id="home" href="userReport.html">Overview</a>
        </li>
        <li role="presentation" class="active">
          <a role="button" aria-haspopup="true" aria-expanded="false" id="profiler">Performance</a>
        </li>
        <li role="presentation">
          <a role="button" aria-haspopup="true" aria-expanded="false" id="settings" href="settings.html">Settings</a>
        </li>
        <li role="presentation">
          <a role="button" aria-haspopup="true" aria-expanded="false" id="export" href="export.html">Export Data</a>
        </li>
      </ul>
      <div class="body">
        <div class="head">
          <p class="detail-head">Performance Tool</p>
        </div>
        <div class="options">
          <input id="startProfileButton" type="button" class="btn btn-default" value="Start Recording Ad Performance">
          <input id="stopProfileButton" type="button" class="btn btn-info hidden" value="Stop Recording Ad Performance">
          <p id="recordingText" class="hidden">Site Sonar is recording ad-content benchmarking data</p>
          <p id="tip">Profile website ad benchmarks using the performance tool. For best results, close all tabs except the one(s) you'd like to profile and start recording above.</p>
        </div>
        <div class="benchmarkOverview">
          <div class="metricBox" id="main">
            <p class="metric" id="adNum"></p>
            <p class="subMetric hidden" id="numLabel">Ad Assets Benchmarked</p>
          </div>
          <div class="metricBox" id="secondary">
            <p class="metric" id="adFile"></p>
            <p class="subMetric hidden" id="fileLabel">Memory Used on Ads</b>
          </div>
          <div class="metricBox" id="secondary">
            <p class="metric" id="adLoad"></p>
            <p class="subMetric hidden" id="loadLabel">Network Time Spent on Ads</b>
          </div>
        </div>
        <textarea id="outputArea" rows="4" cols="50" class="hidden"></textarea><br>
        <input type="button" class="btn btn-default hidden" id="copyJSON" value="Copy to Clipboard"> </input>
      </div>
    <div>
  </body>
</html>
