<!doctype html>
<html>
  <head>
    <title>Ultra-Lightbeam Dashboard</title>
    <script src="../js/settings.js"></script>
    <link href="../styles/userReport.css" rel="stylesheet">
  </head>
  <body>
    <h1>Settings</h1>
    <div class="menu">
      <a id="home" href="userReport.html">Dashboard</a>
      <a id="profiler" href="profiler.html">Performance</a>
      <a id="settings" class="selected">Settings</a>  
      <a id="export" href="export.html">Export Data</a>
    </div>
    <div class="options">
      <input id="sendRadio" type="radio" value="sendData"> Send Data to Ultra-Lightbeam <br>
      <input id="deleteButton" type="button" value="Clear Local Data">
    </div>
  </body>
</html>
