<!DOCTYPE html>
<html>
  <head>
    <title>Site Sonar Dashboard</title>
    <script src="../js/userReport.js"></script>
    <link href="../styles/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/userReport.css" rel="stylesheet">
  </head>
  <body>
    <div class="menu">
      <a id="home" class="selected">Overview</a>
      <a id="profiler" href="profiler.html">Performance</a>
      <a id="settings" href="settings.html">Settings</a>  
      <a id="export" href="export.html">Export Data</a>
    </div>
    <div class="body">
      <div class="head">
        <p class="detail-head">Executive Summary</p>
      </div>
      <div class="benchmarkOverview">
        <div class="metricBox" id="main">
          <p class="metric" id="adNumber"></p>
          <p class="subMetric">Assets Benchmarked</p>
        </div>
        <div class="metricBox" id="secondary">
          <p class="metric" id="adFileSize"></p>
          <p class="subMetric">Memory Used on Ads</b>
        </div>
        <div class="metricBox" id="secondary">
          <p class="metric" id="adLoadTime"></p>
          <p class="subMetric">Network Time Spent on Ads</b>
        </div>
        <p>Check out the <a id="openUrl" href="#">Site-Sonar Dashboard</a> to see the data we've gleaned as a community.</p>
      </div>
    </div>
  </body>
</html>
