<!doctype html>
<html>
  <head>
    <title>Ultra-Lightbeam Dashboard</title>
    <script src="../js/userReport.js"></script>
    <link href="../styles/userReport.css" rel="stylesheet">
  </head>
  <body>
    <h1>My Ultra-Lightbeam Report</h1>
    <div class="menu">
      <a id="home" class="selected">Dashboard</a>  
      <a id="settings" href="#">Settings</a>  
      <a id="export" href="#">Export Data</a>
    </div>
    <p>Latest ad assets loaded in your browser:</p>
    <table id="userData"></table>
  </body>
</html>