<!doctype html>
<html>
  <head>
    <title>Ultra-Lightbeam Dashboard</title>
    <script src="../js/userReport.js"></script>
    <link href="../styles/userReport.css" rel="stylesheet">
  </head>
  <body>
    <h1>Welcome to Ultra-Lightbeam!</h1>
    <div class="menu">
      <a id="home" class="selected">Dashboard</a>
      <a id="profiler" href="profiler.html">Performance</a>
      <a id="settings" href="settings.html">Settings</a>  
      <a id="export" href="export.html">Export Data</a>
    </div>
    <table id="userData"></table>
  </body>
</html>
