<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Site Sonar Dashboard</title>
    <script src="../js/welcome.js"></script>
    <link href="../styles/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/userReport.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active">
          <a role="button" aria-haspopup="true" aria-expanded="false" id="home">Overview</a>
        </li>
        <li role="presentation">
          <a role="button" aria-haspopup="true" aria-expanded="false" id="profiler" href="profiler.html">Performance</a>
        </li>
        <li role="presentation">
          <a role="button" aria-haspopup="true" aria-expanded="false" id="settings" href="settings.html">Settings</a>
        </li>
        <li role="presentation">
          <a role="button" aria-haspopup="true" aria-expanded="false" id="export" href="export.html">Export Data</a>
        </li>
      </ul>
      <div class="body">
        <div class="head">
          <p class="detail-head">Welcome to Site-Sonar!</p>
        </div>
        <div class="benchmarkOverview" id="main">
          <p>Hey, thanks for downloading! We don't have much to show you yet, because you've not viewed any ads.</p>
          <h3>To start using Site-Sonar:</h3>
          <ol>
            <li>Disable any ad blocker you may have enabled</li>
            <li>Visit a <a id="openUrl" href="#">website with ads</a></li>
          </ol>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
