<!DOCTYPE html>
<html>
  <head>
    <title>Site Sonar Dashboard</title>
    <script src="../js/welcome.js"></script>
    <link href="../styles/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/userReport.css" rel="stylesheet">
  </head>
  <body>
    <div class="menu">
      <a id="home" class="selected">Overview</a>
      <a id="profiler" href="profiler.html">Performance</a>
      <a id="settings" href="settings.html">Settings</a>  
      <a id="export" href="export.html">Export Data</a>
    </div>
    <div class="body">
      <div class="head">
        <p class="detail-head">Welcome to Site-Sonar!</p>
      </div>
      <div class="benchmarkOverview" id="main">
        <p>Hey, thanks for downloading! We don't have much to show you yet, because you've not viewed any ads.</p>
        <p>To start using Site-Sonar:</p>
        <ol>
          <li>Disable any ad blocker you may have enabled</li>
          <li>Visit a <a id="openUrl" href="#">website with ads</a></p></li>
        </ol>
      </div>
      </div>
    </div>
  </body>
</html>
