body {
	overflow: scroll;
	height: 600px;
	width: 500px;
}

#userData {
	width: 100%;
}

#userData th {
	width: 20%;
	padding: 0 10px;
}

.selected {
	font-weight: bold;
}

.menu a {
	margin: 0px 10px;
}
