body {
	font-family: "Helvetica";
	overflow: scroll;
	height: 600px;
	width: 600px;
	padding: 30px;
}

h1 {
	font-weight: 300;
	color: #9c56b8;
}

#userData {
	width: 100%;
}

#userData th {
	width: 20%;
}

#outputArea {
	margin-bottom: 10px;
}

#sendRadio {
	margin-bottom: 10px;
}

.selected {
	font-weight: bold;
}

.menu {
	margin-bottom: 20px;
}

.menu a {
	margin-right: 10px;
	display: inline-block;
}
