body {
	font-family: "Helvetica";
	width: 550px;
	height: 530px;
	padding: 20px;
}

#main {
	width: 100%;
}

#populateJSON, #copyJSON {
	margin-bottom: 10px;
}

#adNumber {
	font-size: 2.5em;
}

#secondary {
	width: 45%;
}

#adLoadTime, #adFileSize {
	font-size: 1.8em;
}

#deleteButton {
	display: block;
	margin-bottom: 10px;
}

.body {
	margin: 0 15px;
}

.loadError {
	background-color: red;
	color: white;
	padding: 15px;
	width: 50%;
	margin: 0 auto;
}

.metricBox {
	display: inline-block;
	text-align: center;
	margin-bottom: 20px;
}

.metric {
	font-weight: bold;
	margin: 0;
}

#benchmarkOverview {
	display: block;
}

#userData {
	width: 100%;
	margin-top: 20px;
}

#userData th {
	width: 20%;
}

#outputArea {
	margin-bottom: 10px;
}

#sendRadio {
	margin-bottom: 10px;
}

#startProfileButton, #stopProfileButton {
	margin: 0 auto 10px auto;
}

#startProfileButton {
	display: block;
}

#stopProfileButton {
	display: block;
	background-color: #2B98BD;
	color: white;
	font-weight: bold;
}

#recordingText {
	font-size: 1em;
	text-align: center;
	color: grey;
}

.hidden {
	display: none;
}

.detail-head {
	margin-bottom: 0px;
	font-size: 2.5em;
	font-weight: 300;
	color: #9c56b8;
}

.detail-subhead {
	margin-top: 5px;
	color: grey;
}

.head {
	margin: 20px 0;
}

.selected {
	font-weight: bold;
}

.menu a {
	display: inline-block;
	padding: 10px 15px 0px 15px;
}
